{% extends "layouts/master.twig" %}

{% block content %}
    <div class="container">
        <section class="section space">
            <div class="team">
                <div class="card">
                    <img src="{{ base_url() }}/img/profile.jpg" alt="">
                    <div class="info">
                        <h2>Some Name</h2>
                        <p class="title">Founder CEO</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>example@example.com</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ base_url() }}/img/profile.jpg" alt="">
                    <div class="info">
                        <h2>Some Name</h2>
                        <p class="title">Founder CEO</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>example@example.com</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ base_url() }}/img/profile.jpg" alt="">
                    <div class="info">
                        <h2>Some Name</h2>
                        <p class="title">Founder CEO</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>example@example.com</p>
                    </div>
                </div>
            </div>

            <div id="accordion" class="section__content accordion">
                <h3>Introduction</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nostrum velit vitae, illum ipsam facere. Quo error eveniet dolor distinctio, necessitatibus nesciunt animi. Animi natus, maxime facere, totam sit cumque! <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nostrum velit vitae, illum ipsam facere. Quo error eveniet dolor distinctio, necessitatibus nesciunt animi. Animi natus, maxime facere, totam sit cumque!<br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio blanditiis dignissimos dolor, neque consequatur at aliquam alias saepe sapiente nulla atque corporis recusandae, consectetur esse illo reprehenderit laboriosam vero aut.<br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nostrum velit vitae, illum ipsam facere. Quo error eveniet dolor distinctio, necessitatibus nesciunt animi. Animi natus, maxime facere, totam sit cumque!<br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio blanditiis dignissimos dolor, neque consequatur at aliquam alias saepe sapiente nulla atque corporis recusandae, consectetur esse illo reprehenderit laboriosam vero aut.<br>
                </div>

                <h3>About our service?</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nostrum velit vitae, illum ipsam facere. Quo error eveniet dolor distinctio, necessitatibus nesciunt animi. Animi natus, maxime facere, totam sit cumque!
                </div>

                <h3>Why choose us?</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nostrum velit vitae, illum ipsam facere. Quo error eveniet dolor distinctio, necessitatibus nesciunt animi. Animi natus, maxime facere, totam sit cumque!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio blanditiis dignissimos dolor, neque consequatur at aliquam alias saepe sapiente nulla atque corporis recusandae, consectetur esse illo reprehenderit laboriosam vero aut.
                </div>

                <h3>Products quality?</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nostrum velit vitae, illum ipsam facere. Quo error eveniet dolor distinctio, necessitatibus nesciunt animi. Animi natus, maxime facere, totam sit cumque!
                </div>
            </div>
        </section>
    </div>
{% endblock %}
