{% extends "layouts/master.twig" %}

{% block content %}
    <div class="container">
        <a href="{{ base_url() }}/admin/gallery">Add Images to Client's Gallery</a>
        <a href="{{ base_url() }}/admin/logout">Logout</a>
    </div>
{% endblock %}
