.navbar {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 0;
  height: auto;
  min-height: 800px;
  border-top: 1px solid $border-light;
  background: $white;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  overflow-y: scroll;

  @media #{$medium} {
    position: static;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: auto;
    min-height: 0;
    border-top: 0;
    overflow-y: hidden;
  }

  &--toggle {
    width: 100%;
  }

  &__link {
    position: relative;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    transition: border 0.5s ease-in-out, color 0.2s ease-in-out;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: $color-dark;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &--hover {
      background: $color1;
      color: $white;
    }

    @media #{$medium} {
      padding-right: 1rem;
      padding-left: 1rem;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 0%;
        height: 3px;
        background: $color1;
        transition: width 1s ease;
        content: '';
      }
    }

    &:hover {
      color: $color1;
      text-decoration: none;

      @media #{$medium} {
        &::after {
          width: 100%;
        }
      }
    }

    &--toggle {
      position: relative;

      &:hover {
        background: $color1;
        color: $white;

        & + .navbar__dropdown {
          height: 100%;
          border-top: 2px solid darken($color1, 4%);

          @media #{$medium} {
            display: block;
            border-top: 0;
          }
        }
      }
    }
  }

  &__dropdown {
    height: 0;
    max-height: 300px;
    background: $color1;
    overflow-y: scroll;

    @media #{$medium} {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      display: none;
      min-height: 180px;
      overflow-y: hidden;
    }

    &:hover {
      display: block;
    }

    a {
      display: inline-block;
      padding: 2rem;
      color: $white;
    }
  }
}
