@charset 'utf-8';

// Setting & Mixins
@import 'variables';
@import 'placeholders';
@import 'animations';
@import 'mixins';

// Global
@import 'reset';
@import 'global';
@import 'layout';

// Partials
@import 'partials/misc';
@import 'partials/form';
@import 'partials/panel';
@import 'partials/list';
@import 'partials/errors';
@import 'partials/maillist';
@import 'partials/contact-info';
@import 'partials/mail';
@import 'partials/gallery';
@import 'partials/products';
@import 'partials/product';
@import 'partials/cpanel';
@import 'partials/related-products';
@import 'partials/cart';
@import 'partials/services';
@import 'partials/cards';

// Components
@import 'template/header';
@import 'template/footer';
@import 'template/plate';
@import 'template/section';
@import 'template/blocks';
@import 'template/clients';
