.accordion {
  h3 {
    font-size: 2em;
    color: #eee;
    cursor: pointer;
    background: #2a1c0e;
    border: 1px solid #eeeeee;
    outline: 0;
  }

  p {
    font-size: 0.9em;
    background: #eee;
    border: 1px solid #ddd;
  }
}
