.accordion {
  margin: 0 auto;

  @media #{$medium} {
    width: 60%;
  }

  h3 {
    font-size: 2em;
    color: #eee;
    cursor: pointer;
    background: #555;
    border: 1px solid #eeeeee;
    outline: 0;
  }

  p {
    font-size: 0.9em;
    background: #eee;
    border: 1px solid #ddd;
  }
}
