.blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media #{$medium} {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__block {
    @include animate(bounce, 1s);

    padding: 1rem;

    @media #{$medium} {
      width: 48%;

      &:nth-child(2) {
        flex: 0 0 100%;
        order: 1;
      }
    }

    @media #{$large} {
      flex: 1;

      &:nth-child(2) {
        flex: 1;
        order: initial;
      }
    }

    h2 {
      margin: 1rem 0;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.5px;
      text-align: center;
    }

    p {
      font-size: 0.9rem;
      color: #333;
      text-align: justify;
    }

    &:nth-child(odd) {
      background: #f9f9f9;
    }
  }
}
