.scards {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media #{$medium} {
    flex-direction: row;
  }
}

.scard {
  margin-bottom: 2rem;
  transform: scale(1);
  transition: all 300ms ease-in-out;

  @media #{$medium} {
    width: 40%;
  }

  &:hover {
    transform: scale(1.08);

    @media #{$medium} {
      transform: scale(1.2);
    }
  }

  &__title {
    font-size: 0.8rem;
    font-weight: 600;
    border: 2px solid #333;
    color: #000;
    padding: 0.5rem;

    @media #{$medium} {
      padding: 1rem;
      font-size: 0.9rem;
    }
  }

  &__img {
    width: 100%;

    @media #{$medium} {
      width: 55%;

      &--scale {
        transform: scale(1.25);
      }
    }
  }
}
