.clients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem;

  @media #{$medium} {
    flex-direction: row;
  }

  &__rate {
    flex: 0 0 100%;
    padding-bottom: 3rem;
    color: #555;
    text-align: center;
  }
}

.client {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #f9f9f9;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  transition: transform 400ms ease;

  @media #{$medium} {
    width: 48%;
  }

  @media #{$large} {
    width: 24%;
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__image {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 100%;
  }

  &__info {
    padding: 0.5rem;
    color: #333;

    h3 {
      margin: 0.7rem 0;
      padding: 1rem;
      border-radius: 5px;
      background: #f9f9f9;
      font-weight: 400;
      text-align: center;
    }

    p {
      font-size: 0.9rem;
      text-align: justify;
    }
  }
}
