.cpanel {
  h1 {
    font-weight: 300;
    text-align: center;
    padding: 1rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  ul > li:nth-child(odd) {
    background: #efefef;
  }

  li {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #eee;
  }

  a {
    color: #333;
  }

  a:hover {
    text-decoration: none;
  }

  ul > li:hover {
    background: #ddd;
    border: 1px solid #ddd;
  }
}
