.error {
  margin: 2rem 0 6rem;
  background: #fbfbfb;
  padding: 7rem;
  border-radius: 50% 0 50% 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);

  &__title {
    color: #555;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 3em;
  }

  &__message {
    width: 700px;
    font-size: 1.5em;
    font-weight: 300;
    color: #333;
  }
}
