.error {
  margin: 2rem 1rem;

  @media #{$medium} {
    margin: 2rem 0 6rem;
    padding: 4rem;
  }

  &__title {
    color: #555;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.5rem;

    @media #{$medium} {
      font-size: 3rem;
    }
  }

  &__message {
    width: 700px;
    font-size: 0.9rem;
    font-weight: 300;
    word-wrap: wrap;
    width: 230px;

    @media #{$medium} {
      font-size: 1.5rem;
      width: auto;
    }
  }
}
