.list {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  margin-bottom: 2rem;

  &__item {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;

    &:nth-child(odd) {
      border-bottom: 1px solid #eee;
      background: #f3f3f3;
    }

    &--heading {
      font-weight: bold;
      background: #333 !important;
      color: #ccc !important;
    }

    &__cell {
      padding: 0 1rem 0 0.5rem;
      flex: 3;
      font-size: 0.9em;

      &--action {
        flex: 1;
        text-align: center;

        button {
          border: 0;
          background: none;
          cursor: pointer;

          img {
            width: 30px;
          }
        }
      }
    }
  }
}
