.maillist {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    flex-direction: column;
    color: #444;

    > b {
      background: #eee;
      padding: 0.5rem;
      font-size: 0.9em;
    }

    &__label {
      padding: 0.3rem;
      font-size: 0.9em;
      border: 1px solid #eee;

      &:nth-child(odd) {
        background: #eee;
      }

      b {
        width: 130px;
        font-size: 0.9em;
        display: inline-block;
      }
    }

    &__message {
      background: #fcfcfc;
      padding: 0.5rem;
      width: 760px;
      max-height: 200px;
      overflow-y: scroll;
      overflow-x: scroll;
      border-bottom: 1px solid #eee;
    }
  }
}
