.maillist {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    flex-direction: column;
    color: #444;

    > b {
      background: #eee;
      font-size: 0.9em;
      background: #333;
      color: #ddd;
      padding: 0.3rem 1rem;
      border-top-left-radius: 10px;
    }

    &__label {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 0.3rem 1rem;
      font-size: 0.9em;
      border: 1px dashed #3a3a3a;
      background: #333;
      color: #ddd;

      button {
        cursor: pointer;
        background: none;
        border: none;
        float: right;
        display: block;
      }

      b {
        width: 130px;
        font-size: 0.9em;
        display: inline-block;
      }
    }

    &__message {
      background: #fcfcfc;
      padding: 0.5rem;
      width: 760px;
      min-height: 200px;
      word-wrap: break-word;
      border: 8px solid #333;
    }
  }
}
