.button {
  display: block;
  width: 8rem;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  border: 2px solid #000;
  border-radius: 3px;
  outline: 0;
  background: #000;
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  cursor: pointer;

  @media #{$medium} {
    width: 250px;
    padding: 1rem 5rem;
    font-size: 1rem;
  }

  &:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
  }
}

.back-to-top {
  @include animate(rotate, 300ms);

  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 99;
  display: none;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 100%;
  outline: none;
  background: #0cc3ce;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: darken(#0cc3ce, 5%);
  }
}

.heading {
  margin: 3rem 0;
  padding: 0.8rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #999;
  text-align: center;

  @media #{$medium} {
    font-size: 2rem;
  }

  &.left {
    background: linear-gradient(73deg, #333, #705151);
    color: #fff;
  }

  &.right {
    background: linear-gradient(73deg, #81dddd, #333);
    color: #fff;
  }

  &.dark {
    background: linear-gradient(73deg, #508080, #333);
    color: #fff;
  }
}

.video-invision {
  display: block;
  width: 90%;
  height: 300px;
  margin: 2rem auto;

  @media #{$medium} {
    width: 500px;
    height: 300px;
  }

  @media #{$large} {
    width: 880px;
    height: 400px;
  }
}

.wait-till-load {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: #fff;

  .spinner-icon {
    position: absolute;
    top: 40%;
    left: 44%;
    z-index: 13245;
    width: 100px;
    height: 100px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ff6347;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 4rem;
  background: #f9f9f9;

  @media #{$medium} {
    width: 60%;
  }

  h4 {
    padding: 1rem 0;
    background: #333;
    font-size: 1.5rem;
    font-weight: 300;
    color: #ccc;
    text-align: center;
  }

  h5 {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
    background: #eee;
    font-size: 1.3rem;
    font-weight: 300;
    color: #222;
    text-align: center;
  }

  p {
    width: 90%;
    margin: 0 auto 3rem;
    padding: 1rem;
    background: #fff;
    color: #666;
    text-align: justify;
  }

  img {
    width: 90%;
    margin: 2rem auto 0;
  }

  @media #{$medium} {
    p, h5, img {
      width: 70%;
    }
  }
}

.profile-info {
  padding: 2rem;
  background: #f9f9f9;
  font-size: 1rem;
  line-height: 2em;
  color: #333;
  text-align: justify;
}
