.button {
  display: block;
  width: 8rem;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  border: 2px solid #000;
  border-radius: 3px;
  outline: 0;
  background: #000;
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  cursor: pointer;

  @media #{$medium} {
    width: 250px;
    padding: 1rem 5rem;
    font-size: 1rem;
  }

  &:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
  }
}

.back-to-top {
  @include animate(rotate, 300ms);

  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 99;
  display: none;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 100%;
  outline: none;
  background: #0cc3ce;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: darken(#0cc3ce, 5%);
  }
}

.heading {
  margin: 5rem 0;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #999;
  text-align: center;

  @media #{$medium} {
    font-size: 4rem;
  }

  &.left {
    background: linear-gradient(73deg, #fff, #8a2be2);
    color: #fff;
  }

  &.right {
    background: linear-gradient(73deg, #81dddd, #fff);
    color: #fff;
  }
}

.video-invision {
  display: block;
  width: 90%;
  height: 300px;
  margin: 2rem auto;

  @media #{$medium} {
    width: 500px;
    height: 300px;
  }

  @media #{$large} {
    width: 880px;
    height: 400px;
  }
}
