.orders {
  display: flex;
  flex-direction: column;

  .order {
    display: grid;
    margin-top: 2rem;
    border: 2px solid #222;
    font-size: 0.9rem;
    grid-template-columns: 50% 50%;

    .order__item {
      display: flex;
      padding: 0.5rem;
      border: 1px solid #222;

      &.full {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &.header {
        display: flex;
        justify-content: space-between;
        background: #222;
        color: #ccc;

        button {
          padding: 0.4rem 1rem;
          border: 0;
          background: #555;
          color: #ccc;
          cursor: pointer;

          &:hover {
            background: #ccc;
            color: #555;
          }
        }
      }

      &.list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 1rem;

        .items-head {
          display: grid;
          margin-bottom: 1rem;
          padding-bottom: 0.5rem;
          border-bottom: 1px dashed #888;
          grid-template-columns: 5% 50% 15% 15% auto;
          grid-gap: 1%;
        }

        .items-list {
          display: grid;
          grid-template-columns: 5% 50% 15% 15% auto;
          grid-gap: 1%;
        }

        .items-total {
          display: grid;
          margin-top: 1rem;
          padding-top: 0.5rem;
          border-top: 1px dashed #888;
          grid-template-columns: 88% auto;
          grid-gap: 1%;
        }
      }

      .label {
        width: 100px;
        color: #666;
      }
    }
  }
}
