.orders {
  display: flex;
  flex-direction: column;

  .order {
    margin-top: 2rem;
    border: 2px solid #222;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 0.9rem;

    &__header {
      grid-column-start: 1;
      grid-column-end: 3;
      background: #222 !important;
      color: #ccc;
    }

    &__full {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .order__item {
      display: flex;
      border: 1px solid #ccc;
      padding: 0.5rem;

      .order__label {
        width: 100px;
        color: #666;
      }

      &.black {
        background: #222;
        color: #ccc;
      }
    }

    &__orders {
      padding: 1rem;

      .items {
        display: grid;
        grid-template-columns: 70% 10% 20%;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #333;
      }
    }
  }
}
