.products {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    color: #333;
    align-items: center;
    border-bottom: 1px solid #eee;

    @include animate(fadeIn, 2s);

    &:last-child {
      border: none;
    }

    &--heading {
      align-items: center;
      background: #333;
      color: #fff;
      padding: 0.5rem;
      margin: 0;
      font-size: 1em;
    }

    &:hover {
      text-decoration: none;
    }

    &__image {
      flex: 2;
      padding: 1rem;

      &--heading {
        flex: 2;
        background: #860f14;
        color: #fff;
        padding: 0.5rem;
        padding-left: 2rem;
      }

      @include animate(pulse, 2s);

      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    &__title {
      flex: 2;
      padding: 1rem;
      font-size: 1.2rem;

      &--heading {
        flex: 2;
        background: #860f14;
        color: #fff;
        padding: 0.5rem;
      }
    }

    &__price {
      flex: 1;
      padding: 1rem;
      font-size: 1.3rem;
      font-weight: 300;

      @include animate(slideInLeft, 2s);

      &--heading {
        flex: 1;
        text-align: center;
        background: #860f14;
        color: #fff;
        padding: 0.5rem;
      }
    }

    &__description {
      flex: 5;
      padding: 1rem;
      background: #efefef;
      color: #333;
      border: 1px solid #ddd;

      &--heading {
        flex: 5;
        background: #860f14;
        color: #fff;
        padding: 0.5rem;
      }
    }
  }
}
