{% extends "layouts/master.twig" %}

{% block content %}
    {% include "includes/map.twig" %}
    <div class="container">
        <div class="contact">
            {% include "includes/components/forms/mail.twig" %}
            {% include "includes/components/forms/subscribe.twig" %}
        </div>
    </div>
{% endblock %}
