{% extends "layouts/master.twig" %}

{% block content %}
{% include "includes/plate.twig" %}
    <div class="container">
        <div class="gallery">
        {% for image in images %}
            <div class="gallery__item">
                <div class="gallery__item__date">{{ image.created_at }}</div>
                <div class="gallery__item__image"><img src="{{ base_url() }}/img/gallery/{{image.url}}"></div>
                <div class="gallery__item__description">{{ image.description }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
