{% extends "layouts/master.twig" %}

{% block content %}
{% include "includes/plate.twig" %}
    <div class="container">
        <div class="error">
            <h1 class="error__title">405 Method Not Allowed!</h1>
            <p class="error__message">A request was made of a resource using a request method not supported by that resource, Only methods allowed are {{ methods }}!</p>
        </div>
    </div>
{% endblock %}
