.contact {
  display: flex;
  margin: 6rem 0;

  .mail {
    position: relative;
    flex: 60%;
    box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.1);

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      transform: translateY(-40px);
      border-top: 40px solid transparent;
      border-right: 30px solid #262626;
      border-bottom: 40px solid transparent;
      content: '';
    }

    &__title {
      display: block;
      width: 40%;
      margin: 2rem auto 0;
      color: #262626;
      border-bottom: 3px solid #262626;
      font-size: 1.8em;
      font-weight: 400;
      line-height: 4rem;
      text-align: center;
    }
  }

  .subscribe {
    position: relative;
    flex: 40%;
    background-color: #262626;

    &__title {
      display: block;
      width: 40%;
      margin: 2rem auto 0;
      border-bottom: 3px solid #fff;
      color: #fff;
      font-size: 1.8em;
      font-weight: 400;
      line-height: 4rem;
      text-align: center;
    }

    &__info {
      width: 80%;
      margin: 2rem auto;
      color: #ccc;
      text-align: center;

      h4 {
        margin: 1rem 0;
      }
    }
  }
}

.mail__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;

  &__input {
    flex: 0 0 48%;
    margin: 1rem 0;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #aaa;
    color: #262626;

    &--l {
      flex: 0 1 100%;
    }

    &:focus {
      border: 1px solid #262626;
    }

    &::placeholder {
      color: #aaa;
      font-size: 0.9em;
    }
  }

  &__textarea {
    flex: 0 1 100%;
    height: 100px;
    margin: 1rem 0;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #aaa;

    &:focus {
      border: 1px solid #262626;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  &__submit {
    flex: 0 0;
    margin: 2rem auto;
    padding: 0.8rem 2rem;
    border: 0;
    border-radius: 50px;
    font-size: 0.9em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: #262626;
    outline: none;
    border: 2px solid #262626;

    &:hover {
      background: #fff;
      border: 2px solid #262626;
      color: #262626;
    }
  }
}
