<footer class="footer">
    <div class="container">
        {% include "includes/components/fwidgets.twig" %}
    </div>
    <div class="copyrights">
        <p>&copy; 2017 InvisionHairAf, All Rights Reserved.</p>
    </div>
</footer>
